* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-brand {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  color: black;
}

.navbar-brand:hover {
  color: #000;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
}

.nav-link:hover {
  color: black;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  border: 2px solid #041e1a;
}

.btn0 {
  height: 40px;
  width: 60%;
  outline: none;
  border: none;
  background: #2d9b8a;
  color: white;
  border-radius: 60px;
  font-weight: 700;
}

/* Custom styles for carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-weight: 700;
  font-family: "Kanit", sans-serif;
}

.btn0:hover {
  background-color: rgb(183, 60, 96);
  transition: 0.5s;
}

.card:hover {
  box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../public/img/banner4.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.banner h1 {
  font-family: "Kanit", sans-serif;
}

.banner h6 {
  font-family: "Kanit", sans-serif;
}

footer {
  background: #00483D;
}

.fa-shopping-cart {
  cursor: pointer;
}

#amount-cart {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.detail h6 {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.detail h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.detail h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.detail input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.detail input:focus{
  outline: none;
}
.shopping-cart-icon {
  color: black; /* Đặt màu đen cho biểu tượng */
}
.container > h1{
	padding: 20px 0;
}

.cart{
	display: flex;
}

.products{
	flex: 0.75;
}

.product{
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 1px solid silver;
	margin-bottom: 20px;
}

.product:hover{
	border: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	transform: scale(1.01);
}

.product > img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.product > img:hover{
	transform: scale(1.04);
}

.product-info{
	padding: 20px;
	width: 100%;
	position: relative;
}

.product-name, .product-price, .product-offer{
	margin-bottom: 20px;
}

.product-remove{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.product-remove:hover{
	background-color: red;
	color: white;
	font-weight: 600;
	border: 1px solid red;
}

.product-quantity input{
	width: 40px !important;
	padding: 5px !important;
	text-align: center !important;
}

.fa{
	margin-right: 5px;
}

.cart-total{
	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 240px;
	border: 1px solid silver;
	border-radius: 5px;
}

.cart-total p{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}

.cart-total a{
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: tomato;
	color: white;
	text-decoration: none;
}

.cart-total a:hover{
	background-color: red;
}

@media screen and (max-width: 700px){
	.remove{
		display: none;
	}
	.product{
		height: 150px;
	}
	.product > img{
		height: 150px;
		width: 200px;
	}
	.product-name, .product-price, .product-offer{
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 900px){
	.cart{
		flex-direction: column;
	}

	.cart-total{
		margin-left: 0;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 1220px){
	.container{
		max-width: 95%;
	}

}
